{% extends "basa/base.html" %}

{% block content %}

<form class="form-signup" action="/accounts/sign_up/" method="post">{% csrf_token %}
<h2>Регистрация</h2>

<div class="fieldWrapper">{{form.errors.values.0}}
<label>Ник</label>
{{ form.username }}</div>

<div class="fieldWrapper">{{form.errors.values.1}}
<label>Пароль</label>{{ form.password1 }}
</div>

<div class="fieldWrapper"><label>Пароль ещё раз</label>
{{ form.password2 }}</div>
<input class="btn btn-primary" name="submit" type="submit" value="Зарегистрироваться" />
</form>

{% endblock %}
